@model IEnumerable<Fiinasta.FiinastaAPI.Spendings>

@{
    ViewBag.Title = "Biudžeto suvestinė";
}

<h2>Biudžeto suvestinė</h2>


@using (Html.BeginForm("Run", "Search", FormMethod.Get))
{
    if (ViewBag.Error == null)
    {
        <div class="form-inline pull-right">
            <div class=" form-group">
                @Html.Label("Paieška", htmlAttributes: new
       {
           @class = "control-label col-md-4"
       })
                <div class=" col-md-10">
                    <input class="form-control" type="text" id="searchField" name="criteria" />
                    <input class="btn btn-default" type="submit" value="Ieškoti" />
                </div>
            </div>
        </div>
    }
}
@if (ViewBag.Error != null)
{
    Html.RenderAction("Run", "Error", new { @code = ViewBag.Error });
}
else
{
    <br />
    <br />
    <br />
    <br />
    <h6>Išlaidos</h6>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </table>
    <label class="control-label">Iš viso: </label>
    <label>@ViewBag.Sum</label>
    <br />
    <h6>Pajamos</h6>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </table>
    <label class="control-label">Iš viso: </label>
    <label>0</label>
}
